<div class="product-card">
  <div class="product-card__image-wrapper">
    <img class="product-card__image" src="assets/{{ product.image | img_url: 'medium' }}" alt="{{ product.title }}">
  </div>
  <div class="product-card__info">
    <div class="namePrice">
      <h3 class="product-card__title">{{ product.title }}</h3>
      <p class="product-card__price">${{ product.price | money_without_trailing_zeros }}</p>
    </div>
    <button class="product-card__cart-button">
      <img src="{{ 'cart-icon.svg' | asset_url }}" alt="Add to Cart">
    </button>
  </div>
</div>


  <style>

  .product-card {
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 270px;
  transition: transform 0.3s ease;
}

.product-card__image-wrapper {
  display: flex;
  background-color: white;
  border-radius: 12px;
  justify-content: center;
  border: 6px solid #8c52ff;

    width: 258px; /* Reduce el ancho visible */
  height: 330px;
  overflow: hidden;
  align-items: center;
  
}

.product-card__image {
  border-radius: 6px;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;

    height: 100%;
  width: auto;
}



.product-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__title {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.product-card__price {
  font-size: 14px;
  color: #ccc;
  margin-top: 4px;
}

.product-card__cart-button {
  background-color: #a259ff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__cart-button img {
  width: 30px;
  height: 30px;
}

  </style>