{% assign footer_settings= settings['footer'].settings %}

<footer class="footer">
  <div class="footer__container">
    
    <!-- Columna 1: Logo + texto -->
    <div class="footer__column">
     <div class="logoFooter">
      <img src="/assets/{{ footer_settings.logo_image }}" alt="{{ footer_settings.logo_alt }}" class="footer__logo" />
      <p class="lineFooter">{{ footer_settings.logo_line }}</p>
      <p class="textFooter">{{ footer_settings.logo_text }}</p>
      </div>
      <p>© 2024, Shuffle.store Operated by <br> Studio Plaid. Need help?<br>Email support@shuffle.store</p>
    </div>

    <!-- Columna 2: Navegación + Políticas + Métodos de pago -->
    <div class="footer__column">
      <div class="footer__nav">
        <span class="active">HOME</span>
        <span>CART</span>
        <span>ALL PRODUCTS</span>
        <span>COLLECTIONS</span>
      </div>
      <div class="footer__policies">
        <span>REFUND POLICY</span>
        <span>PRIVACY POLICY</span>
        <span>TERMS OF SERVICE</span>
      </div>
      <div class="footer__payments">
      <p class="footer__payments-text">{{ footer_settings.payment_text }}</p>
       {% for icon in header_settings.crypto__icons %}
    <img src="/assets/{{ icon }}" alt="{{ icon | split: '.' | first | capitalize }}">
  {% endfor %}
      </div>
    </div>

    <!-- Columna 3: Newsletter + redes -->
    <div class="footer__column">
      <p class="footer__newsletter-title">Subscribe and receive drop notifications</p>
      <form class="footer__newsletter">
        <input type="email" placeholder="Enter Email" />
        <button type="submit">→</button>
      </form>
      <div class="footer__socials">
        <span>FACEBOOK</span>
        <span>X(TWITTER)</span>
        <span>INSTAGRAM</span>
      </div>
    </div>

  </div>
</footer>
