{% assign header_settings = settings['header'].settings %}
<header class="header">

  <div class="header__container">
    <div class="header__menu-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="header__logo">
      <a class="header__logo-link" href="{{ header_settings.logo_link }}">
        <img class="header__logo-image" src="/assets/{{ header_settings.logo_image }}" alt="{{ header_settings.logo_alt }}" />
      </a>
    </div>

    <div class="header__crypto-wrapper">
      <div class="header__crypto">
        <span class="header__crypto-text">{{ header_settings.crypto_span }}</span>
        <div class="header__crypto-icons">
          {% for icon in header_settings.crypto__icons %}
            <img class="header__crypto-icon" src="/assets/{{ icon }}" alt="{{ icon | split: '.' | first | capitalize }}">
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="header__actions">
      <nav class="header__navigation">
        {% for link in header_settings.nav_links %}
          <a class="header__nav-link" href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
      </nav>

      <button class="header__cart-button">
        <img class="header__cart-icon" src="/assets/{{ header_settings.cart }}" alt="{{ header_settings.cart_alt }}" />
      </button>
    </div>
  </div>
</header>